@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-gray text-brand-dark font-sans;
  }
}

/* For printing */
@media print {
  body * {
    visibility: hidden;
  }
  #print-section, #print-section * {
    visibility: visible;
  }
  #print-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  /* Page break for each label */
  .print-label {
    page-break-after: always;
    break-after: page;
  }
}
